.download{
  width : 140px;
  height : 50px;
  background-color: #d97652;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
}
.navi-a{
  display: flex;
  justify-content: space-around;
}
.a-href{
  height: 20px;
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  gap: 30px;
  text-decoration: none;
  padding: 15px;
  color: #000000;
}
.download-navi{
  width : 140px;
  height : 50px;
  top: 26px;
  left: 1460px;
  background-color: #d97652;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Pretendard,sans-serif;
  font-size: 16px;
}
img.head-logo{
  width: 130px;
  height: 40px;
}
.navi-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2e9d8;
  width: 100vw;
  height: 102px;
}
.header-main{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #f2e9d8;
  width: 100vw;
  justify-content: space-around;
}
#head1{
  width: 695px;
  height: 120px;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  white-space: nowrap;
}
#head2{
  width: 420px;
  height: 86px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}
#cat-box{
  width: 415px;
  height: 766px;
}
.div1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.lying-cat{
  width :660px;
  height: 390px;
  border-radius: 30px;
}
.div1-1{
  width: 510px;
  height: 135px;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}
.div1-2{
  width: 510px;
  height: 40px;
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.div2{
  align-items: center;
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.div2-1{
  width: 875px;
  height: 60px;
  font-family: Pretendard, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #d97652;
  white-space: nowrap;
}
#colorchange{
  color: #d97652;
}
.div2-2{
  width: 710px;
  height: 42px;
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}
.div-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-set{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 50px;
}
.img-style{
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0,0,0,25%);
}
.div3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#div3-1{
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 50px;
}
#div3-2{
  width: 143px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #d97652;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 29px 15px 29px;
  gap: 10px;
}
.px1{
  width: 1280px;
  height: 1px;
  background-color: #c4c4c4;
  display: flex;
  margin: 0 auto;
}
#where{
  width: 263px;
  height: 45px;
  color: #000000;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  white-space: nowrap;
}
.address{
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  position: relative;
}
#address{
  width: 395px;
  height: 20px;
  font-family: Pretendard,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #606367;
  margin-top: 0;
}
.map{
  width: 1280px;
  height: 520px;
  border-radius: 12px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.subscribe{
  z-index:1;
  width: 1280px;
  height: 201px;
  border-radius: 30px;
  background-color: #263140;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}
.sub-text{
  width: 471px;
  height: 99px;
  display: flex;
  flex-direction: column;
}
#ss1{
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin: 0 auto;
}
#ss2{
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #f2e9d8;
  white-space: nowrap;
  margin-top: 30px;
}
.frame{
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  top: -125px;
}
.frame img{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#cat-under{
  color: #f2e9d8;
  opacity: 0.6;
}
.form{
  width: 530px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#label{
  width: 24px;
  height: 24px;
  margin-left: 30px;
  margin-right: 10px;
}
input{
  display: flex;
  align-items: center;
  flex: 1;
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
}
.sub-btn{
  width: 135px;
  height: 50px;
  border-radius: 40px;
  background-color: #d97652;
  color: #ffffff;
  border: none;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  cursor: pointer;
}
.hodu-foot{
  width: 226px;
  height: 70px;
}
footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 102px;
}
.footer-logo{
  width: 228px;
  justify-content: space-between;
}
.logo{
  width: 45px;
  height: 45px;
}
/* 모달 CSS */
.modal {
  display: none; /* 처음에는 보이지 않도록 설정 */
  position: fixed;
  z-index: 1000; /* 다른 요소들보다 위에 표시되도록 높은 값 설정 */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}
.modal-content {
  background-image: url('img/sub_back.png');
  background-size: 600px 400px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 30px;
  width: 600px;
  height: 400px;
  align-items: center;
  position: relative;
}
#sub-cat{
  width: 110px;
  height: 112px;
  top: 60px;
  left: 245px;
}
#ms1{
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #d97652;
}
#ms2{
  font-family: Pretendard,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.modal-close-btn {
  width: 183px;
  height: 50px;
  border-radius: 40px;
  color: #ffffff;
  background-color: #d97652;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  color: black;
}
#scrollup{
  width:50px;
  height:50px;
  z-index:500;
  cursor: pointer;
  position:fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: #c4c4c4;
}
#hover{
  width:50px;
  height:50px;
}
